<div class="courses-content classroom-scrollbar">
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6">
      <a class="class-item" href="">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur.</span>
      </a>
      <a class="class-item" href="">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur.</span>
      </a>
      <a class="class-item" href="">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur.</span>
      </a>
      <a class="class-item" href="">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur.</span>
      </a>
      <a class="class-item" href="">
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur.</span>
      </a>
    </div>
    <div class="col-lg-8 col-md-7 col-sm-6">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, sit. Illum unde, magnam reiciendis, quidem deserunt soluta quisquam quia, quo illo sed optio placeat voluptatum repudiandae aliquid. Officiis, quisquam error.
      </p>
    </div>
  </div>
</div>