<div class="home-lateral-card">
  <div class="d-flex justify-content-between align-items-center">
    <p class="fs-4 fw-bold">ANUNCIOS</p>
    <img class="classroom-icon" src="../../../../assets/icons/alert-dark.png" alt="">
  </div>
  <div class="row mb-3 text-end">
    <p>Ver todos</p>
  </div>
  <div class="home-lateral-card-x classroom-scrollbar">
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
    <div class="home-alert">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
    </div>
  </div>
</div>