<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-5 courses-content classroom-scrollbar">
    <a *ngFor="let item of videos" class="class-item" href="">
      <span>{{ item.title }}</span>
      <div class="class-indicator"></div>
    </a>
  </div>
  <div class="col-lg-10 col-md-8 col-sm-7">
    <!-- <div class="class-video-frame"></div> -->
    <!-- <iframe style="border-radius: 15px; max-height: 600px;" width="100%" height="550px" src="https://www.youtube.com/embed/ZK9iP5PEhSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </div>
</div>