<div class="row classroom-scrollbar">
  <div class="col-lg-8 col-md-6 col-sm-12">
    <div class="home-content">
      <p class="fs-2 text-white">Hola, <span class="text-primary">{{ user.names }}</span></p>
      <p class="fs-2 text-white">Bienvenid@ a la Plataforma de MMJ</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="home-lateral-card">
      <div class="d-flex align-items-center h-100">
        <img class="classroom-icon me-4" src="../../../assets/icons/book-dark.png" alt="">
        <div class="d-flex justify-content-center align-items-center">
          <span class="fs-3 fw-bold">7</span>
          <span class="fs-5 ms-2 fw-bold">CURSOS</span>
        </div>
      </div>
    </div>
    <mmj-alert></mmj-alert>
  </div>
</div>