<div class="classroom-scrollbar">
  <form>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="form-floating mb-4">
          <input type="text" class="form-control" id="inputLabor" placeholder="Software Engineer">
          <label for="inputLabor">Puesto actual</label>
        </div>
        <div class="form-floating mb-4">
          <input type="text" class="form-control" id="inputCountry" placeholder="Country">
          <label for="inputCountry">Pais / Region</label>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-floating mb-4">
          <input type="text" class="form-control" id="inputNames" placeholder="Names">
          <label for="inputNames">Nombres</label>
        </div>
        <div class="form-floating mb-4">
          <input type="text" class="form-control" id="inputSurnames" placeholder="Surnames">
          <label for="inputSurnames">Apellidos</label>
        </div>
        <div class="form-floating mb-4">
          <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
          <label for="inputPhone">Numero Telefonico</label>
        </div>
        <div class="form-floating mb-4">
          <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
          <label for="inputEmail">Correo</label>
        </div>
      </div>
    </div>
  </form>
</div>