<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-4 courses-content classroom-scrollbar">
    <a class="class-item" href="">
      <span>SOFTWARE</span>
      <div class="class-indicator"></div>
    </a>
  </div>
  <div class="col-lg-10 col-md-9 col-sm-8">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, sit. Illum unde, magnam reiciendis, quidem deserunt soluta quisquam quia, quo illo sed optio placeat voluptatum repudiandae aliquid. Officiis, quisquam error.
    </p>
  </div>
</div>